// ----------------------------------
// VARIABLES
// ----------------------------------

// ----------------------------------
// COLORS
// ----------------------------------

//$black: #000000;
$black: #3E3B38;
$white: #FFFFFF;

$orange: #EE7033;
$teal: #0C8397;
$teal_dark: #0a6d7e;
$green: #12A580;
$magenta: #D51271;
$dark_orange: #E25A2C;
$dark_orange_dark: #cc602b;
$red: #C12020;
$gold: #C89616;
$yellow: #FBBB1B;
$blue: #1180AA;

$txt_gray: #2C2C2C;
$input_gray: #95928E;

// ----------------------------------
// GLOBAL
// ----------------------------------

$btnPad: 10px;
$btnPrimary: 60px;

$padding_large: 6%;
$padding_small: 15px;
$max_width: 1200px;

$widgetHeader: 35px;
$transactionSort: 51px;

$widgetTransfer: 290px;